<div id="owl-carousel-1" class="owl-carousel owl-theme center-owl-nav">
  <article class="article thumb-article">
    <div class="article-img">
      <%= image_tag("img-lg-1.jpg", alt:"") %>
    </div>
    <div class="article-body">
      <ul class="article-info">
        <li class="article-category"><a href="#">News</a></li>
        <li class="article-type"><i class="fa fa-camera"></i></li>
      </ul>
      <h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
      <ul class="article-meta">
        <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
        <li><i class="fa fa-comments"></i> 33</li>
      </ul>
    </div>
  </article>

  <article class="article thumb-article">
    <div class="article-img">
      <%= image_tag("img-lg-2.jpg", alt:"") %>
    </div>
    <div class="article-body">
      <ul class="article-info">
        <li class="article-category"><a href="#">News</a></li>
        <li class="article-type"><i class="fa fa-file-text"></i></li>
      </ul>
      <h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
      <ul class="article-meta">
        <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
        <li><i class="fa fa-comments"></i> 33</li>
      </ul>
    </div>
  </article>

  <article class="article thumb-article">
    <div class="article-img">
      <%= image_tag("img-lg-3.jpg", alt:"") %>
    </div>
    <div class="article-body">
      <ul class="article-info">
        <li class="article-category"><a href="#">News</a></li>
        <li class="article-type"><i class="fa fa-camera"></i></li>
      </ul>
      <h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
      <ul class="article-meta">
        <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
        <li><i class="fa fa-comments"></i> 33</li>
      </ul>
    </div>
  </article>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Bài viết mới nhất</h2>
          <ul class="tab-nav pull-right">
            <li class="active"><%= link_to "Tất cả", "#tab1", data:{toggle:"tab"} %></li>
            <li><%= link_to "Bài viết", "#tab1", data:{toggle:"tab"} %></li>
            <li><%= link_to "Sự kiện", "#tab1", data:{toggle:"tab"} %></li>
            <li><%= link_to "Quyên góp", "#tab1", data:{toggle:"tab"} %></li>
          </ul>
        </div>

        <div class="tab-content">
          <div id="tab1" class="tab-pane fade in active">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <article class="article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                    <ul class="article-info">
                      <li class="article-type"><i class="fa fa-camera"></i></li>
                    </ul>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-3 col-sm-6">
                <article class="article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-3 col-sm-6">
                <article class="article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                    <ul class="article-info">
                      <li class="article-type"><i class="fa fa-file-text"></i></li>
                    </ul>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-3 col-sm-6">
                <article class="article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                    <ul class="article-info">
                      <li class="article-type"><i class="fa fa-file-text"></i></li>
                    </ul>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-sm-6">
                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-widget-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>

                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-widget-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-4 col-sm-6">
                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>

                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-widget-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-4 hidden-sm">
                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>

                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-widget-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="section-title">
              <h2 class="title">Bài viết</h2>
            </div>

            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-sm-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-camera"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui, ne accommodare theophrastus reprehendunt vel. Et commodo menandri eam.</p>
              </div>
            </article>

            <article class="article widget-article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-widget-1.jpg", alt:"") %>
                </a>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>

            <article class="article widget-article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-widget-1.jpg", alt:"") %>
                </a>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="section-title">
              <h2 class="title">Sự kiện</h2>
            </div>

            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-sm-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui, ne accommodare theophrastus reprehendunt vel. Et commodo menandri eam.</p>
              </div>
            </article>

            <article class="article widget-article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-widget-1.jpg", alt:"") %>
                </a>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>

            <article class="article widget-article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-widget-1.jpg", alt:"") %>
                </a>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2 class="title">Bài viết</h2>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-sm-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-camera"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui, ne accommodare theophrastus reprehendunt vel. Et commodo menandri eam.</p>
              </div>
            </article>
          </div>

          <div class="col-md-6 col-sm-6">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-sm-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-camera"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui, ne accommodare theophrastus reprehendunt vel. Et commodo menandri eam.</p>
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-md-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-4">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-md-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-4">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-md-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="widget center-block hidden-xs">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14897.601627517693!2d105.7818972!3d21.0166589!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56c7da1281efdc2f!2sHandico+Tower!5e0!3m2!1svi!2s!4v1546491669632" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>

        <div class="widget social-widget">
          <div class="widget-title">
            <h2 class="title">Liên lạc với chúng tôi</h2>
          </div>
          <ul>
            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i><br><span>Facebook</span></a></li>
            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i><br><span>Twitter</span></a></li>
            <li><a href="#" class="google"><i class="fa fa-google"></i><br><span>Google+</span></a></li>
            <li><a href="#" class="instagram"><i class="fa fa-instagram"></i><br><span>Instagram</span></a></li>
            <li><a href="#" class="youtube"><i class="fa fa-youtube"></i><br><span>Youtube</span></a></li>
            <li><a href="#" class="rss"><i class="fa fa-rss"></i><br><span>RSS</span></a></li>
          </ul>
        </div>

        <div class="widget subscribe-widget">
          <div class="widget-title">
            <h2 class="title">Đăng kí nhận thông báo</h2>
          </div>
          <form>
            <input class="input" type="email" placeholder="Email">
            <button class="input-btn">Đăng kí</button>
          </form>
        </div>

        <div class="widget">
          <div class="widget-title">
            <h2 class="title">Đọc nhiều</h2>
          </div>

          <div id="owl-carousel-3" class="owl-carousel owl-theme center-owl-nav">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-md-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>

            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-md-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>

          <article class="article widget-article">
            <div class="article-img">
              <a href="#">
                <%= image_tag("img-widget-1.jpg", alt:"") %>
              </a>
            </div>
            <div class="article-body">
              <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
              <ul class="article-meta">
                <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                <li><i class="fa fa-comments"></i> 33</li>
              </ul>
            </div>
          </article>

          <article class="article widget-article">
            <div class="article-img">
              <a href="#">
                <%= image_tag("img-widget-1.jpg", alt:"") %>
              </a>
            </div>
            <div class="article-body">
              <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
              <ul class="article-meta">
                <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                <li><i class="fa fa-comments"></i> 33</li>
              </ul>
            </div>
          </article>

          <article class="article widget-article">
            <div class="article-img">
              <a href="#">
                <%= image_tag("img-widget-1.jpg", alt:"") %>
              </a>
            </div>
            <div class="article-body">
              <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
              <ul class="article-meta">
                <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                <li><i class="fa fa-comments"></i> 33</li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
