<div id="owl-carousel-1" class="owl-carousel owl-theme center-owl-nav">
  <article class="article thumb-article">
    <div class="article-img-slide">
      <%= image_tag("img-lg-1.jpg", alt:"") %>
    </div>
    <div class="article-body">
      <ul class="article-info">
        <li class="article-category"><a href="#">News</a></li>
        <li class="article-type"><i class="fa fa-camera"></i></li>
      </ul>
      <h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
      <ul class="article-meta">
        <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
        <li><i class="fa fa-comments"></i> 33</li>
      </ul>
    </div>
  </article>

  <article class="article thumb-article">
    <div class="article-img">
      <%= image_tag("img-lg-2.jpg", alt:"") %>
    </div>
    <div class="article-body">
      <ul class="article-info">
        <li class="article-category"><a href="#">News</a></li>
        <li class="article-type"><i class="fa fa-file-text"></i></li>
      </ul>
      <h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
      <ul class="article-meta">
        <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
        <li><i class="fa fa-comments"></i> 33</li>
      </ul>
    </div>
  </article>

  <article class="article thumb-article">
    <div class="article-img">
      <%= image_tag("img-lg-3.jpg", alt:"") %>
    </div>
    <div class="article-body">
      <ul class="article-info">
        <li class="article-category"><a href="#">News</a></li>
        <li class="article-type"><i class="fa fa-camera"></i></li>
      </ul>
      <h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
      <ul class="article-meta">
        <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
        <li><i class="fa fa-comments"></i> 33</li>
      </ul>
    </div>
  </article>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Bài viết mới nhất</h2>
          <ul class="tab-nav pull-right">
            <li class="active"><%= link_to "Tất cả", "#tab1", data:{toggle:"tab"} %></li>
            <li><%= link_to "Bài viết", "#tab1", data:{toggle:"tab"} %></li>
            <li><%= link_to "Sự kiện", "#tab1", data:{toggle:"tab"} %></li>
            <li><%= link_to "Quyên góp", "#tab1", data:{toggle:"tab"} %></li>
          </ul>
        </div>

        <div class="tab-content">
          <div id="tab1" class="tab-pane fade in active">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <article class="article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                    <ul class="article-info">
                      <li class="article-type"><i class="fa fa-camera"></i></li>
                    </ul>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-3 col-sm-6">
                <article class="article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-3 col-sm-6">
                <article class="article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                    <ul class="article-info">
                      <li class="article-type"><i class="fa fa-file-text"></i></li>
                    </ul>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-3 col-sm-6">
                <article class="article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                    <ul class="article-info">
                      <li class="article-type"><i class="fa fa-file-text"></i></li>
                    </ul>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-sm-6">
                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-widget-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>

                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-widget-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-4 col-sm-6">
                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>

                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-widget-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>

              <div class="col-md-4 hidden-sm">
                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-md-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>

                <article class="article widget-article">
                  <div class="article-img">
                    <a href="#">
                      <%= image_tag("img-widget-1.jpg", alt:"") %>
                    </a>
                  </div>
                  <div class="article-body">
                    <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                    <ul class="article-meta">
                      <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                      <li><i class="fa fa-comments"></i> 33</li>
                    </ul>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="section-title">
              <h2 class="title">Bài viết</h2>
            </div>

            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-sm-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-camera"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui, ne accommodare theophrastus reprehendunt vel. Et commodo menandri eam.</p>
              </div>
            </article>

            <article class="article widget-article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-widget-1.jpg", alt:"") %>
                </a>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>

            <article class="article widget-article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-widget-1.jpg", alt:"") %>
                </a>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="section-title">
              <h2 class="title">Sự kiện</h2>
            </div>

            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-sm-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui, ne accommodare theophrastus reprehendunt vel. Et commodo menandri eam.</p>
              </div>
            </article>

            <article class="article widget-article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-widget-1.jpg", alt:"") %>
                </a>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>

            <article class="article widget-article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-widget-1.jpg", alt:"") %>
                </a>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2 class="title">Bài viết</h2>
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-sm-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-camera"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui, ne accommodare theophrastus reprehendunt vel. Et commodo menandri eam.</p>
              </div>
            </article>
          </div>

          <div class="col-md-6 col-sm-6">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-sm-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-camera"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h3 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h3>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
                <p>Populo tritani laboramus ex mei, no eum iuvaret ceteros euripidis, ne alia sadipscing mei. Te inciderint cotidieque pro, ei iisque docendi qui, ne accommodare theophrastus reprehendunt vel. Et commodo menandri eam.</p>
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-md-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-4">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-md-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>

          <div class="col-md-4 col-sm-4">
            <article class="article">
              <div class="article-img">
                <a href="#">
                  <%= image_tag("img-md-1.jpg", alt:"") %>
                </a>
                <ul class="article-info">
                  <li class="article-type"><i class="fa fa-file-text"></i></li>
                </ul>
              </div>
              <div class="article-body">
                <h4 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h4>
                <ul class="article-meta">
                  <li><i class="fa fa-clock-o"></i> January 31, 2017</li>
                  <li><i class="fa fa-comments"></i> 33</li>
                </ul>
              </div>
            </article>
          </div>
        </div>
      </div>
      <%= render "layouts/sidebar" %>
    </div>
  </div>
</div>
