<div id="form-comment<%= @post.id %>">
  <div class="row">
    <div class="col-md-1">
      <% if comment.user.avatar.url.present? %>
        <%= image_tag comment.user.avatar.url , class: "image-user" %>
      <% else %>
        <%= image_tag "logo_icon.ico" , class: "image-user" %>
      <% end %>
    </div>
    <div class="col-md-11">
      <%= link_to comment.user.name, user_path(comment.user_id) %>:
      <span class="timestamp">
        <%= comment.created_at %>
      </span><br/>
      <p><%= comment.body %><p>
        <%= link_to t(".delete"), post_comment_path(@post, comment),
          method: :delete,
          data: {confirm: t(".sure")} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-11">
    <%= render "comments/form", post: @post, parent_id: comment.id,
      comment_new: comment %>
  </div>
</div>
