<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="article-breadcrumb">
          <li><%= link_to t(".home"), root_url %></li>
          <li><%= link_to t(".news"), posts_path %></li>
          <li><%= @post.title %></li>
        </ul>
        <article class="article article-post">
          <div class="article-share">
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
          </div>
          <div class="article-main-img">
            <img src="./img/img-post.jpg" alt="">
          </div>
          <div class="article-body">
            <ul class="article-info">
              <li class="article-category"><a href="#">News</a></li>
              <li class="article-type"><i class="fa fa-file-text"></i></li>
            </ul>
            <h1 class="article-title"><%= @post.title %></h1>
            <ul class="article-meta">
              <li><i class="fa fa-clock-o"></i><%= @post.created_at %></li>
              <li><i class="fa fa-comments"></i><%= @post.comments.count %></li>
            </ul>
            <div><%= @post.body.html_safe %>
            </div>
          </div>
        </article>
        <div class="widget-tags">
          <ul>
            <li><a href="#">News</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Business</a></li>
          </ul>
        </div>
        <div class="article-comments">
          <div class="section-title">
            <h2 class="title"><%= t".comments" %></h2>
          </div>
          <div class="row">
            <%= render "comments/form", post: @post, parent_id: nil, comment_new: @comment %>
            <%= comments_tree_for @post.comments.hash_tree(limit_depth: 3)%>
          </div>
        </div>
      </div>
      <%= render "layouts/sidebar" %>
    </div>
  </div>
</div>