<header id="header">
  <div id="top-header">
    <div class="container">
      <div class="container">
        <div class="header-links">
          <ul>
            <li><%= link_to t(".about_me"), "#" %></li>
            <li><%= link_to t(".contact"), "#" %></li>
            <li><%= link_to t(".advertisement"), "#" %></li>
            <li><%= link_to t(".privacy"), "#" %></li>
            <% if user_signed_in? %>
              <li><%= image_tag(current_user.avatar.url, class:"img-circle avatar-sm") if current_user.avatar? %></li>
              <li class="dropdown">
                <%= link_to "#{current_user.name} (#{current_user.role_name})", "#", class: "dropdown-toggle user-name", data: {toggle: "dropdown"} %>
                <ul class="dropdown-menu">
                  <li><%= link_to t(".edit"), edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to new_user_session_path do %><i class="fa fa-sign-in"></i> <%= t ".login" %><% end %></li>
            <% end %>
          </ul>
        </div>
        <div class="header-social">
          <ul>
            <li><%= link_to "#" do %><i class="fa fa-facebook"></i><% end %></li>
            <li><%= link_to "#" do %><i class="fa fa-twitter"></i><% end %></li>
            <li><%= link_to "#" do %><i class="fa fa-google-plus"></i><% end %></li>
            <li><%= link_to "#" do %><i class="fa fa-instagram"></i><% end %></li>
            <li><%=link_to "#" do %><i class="fa fa-youtube"></i><% end %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="center-header">
    <div class="container">
      <div class="header-logo">
        <%= link_to root_path, class: "logo" do %>
          <%= image_tag("logo.png", alt: "") %>
        <% end %>
      </div>
      <div class="header-ads">
        <%= image_tag("chapcanhuocmo.png", class: "center-block") %>
      </div>
    </div>
  </div>
  <div id="nav-header">
    <div class="container">
      <nav id="main-nav">
        <div class="nav-logo">
          <%= link_to root_path, class: "logo" do %>
            <%= image_tag("logo.png", alt: "") %>
          <% end %>
        </div>
        <ul class="main-nav nav navbar-nav">
          <li class="active"><%= link_to t(".home"), root_path %></li>
          <li><%= link_to t(".post") %>
            <ul class="sub-menu">
              <% if can? :create, Post %>
                <li><%= link_to t(".create_post"), new_organizer_post_path %></li>
                <li><%= link_to t(".manage_post"), organizer_posts_path %></li>
              <% end %>
              <li><%= link_to t(".all_post"), posts_path %>
            </ul>
          </li>
          <li><%= link_to t(".event") %>
            <ul class="sub-menu">
              <% if can? :create, Event %>
                <li><%= link_to t(".create_event"), new_organizer_event_path %></li>
                <li><%= link_to t(".manage_event"), myevents_organizer_events_path %></li>
                <li><%= link_to t(".all_event"), organizer_events_path %></li>
              <% else %>
                <li><%= link_to t(".all_event"), organizer_events_path %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to t(".category") %></li>
          <li><%= link_to t(".donation") %>
            <ul class="sub-menu">
              <li><%= link_to t(".manage_donate") %></li>
              <li><%= link_to t(".statistical") %></li>
            </ul>
          </li>
          <li>
            <% if user_signed_in? && current_user.check_role(Settings.role_admin) %>
              <%= link_to t(".manage_user"), admin_users_path %>
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
