<div class="col-md-4">
  <div class="widget center-block hidden-xs">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14897.601627517693!2d105.7818972!3d21.0166589!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56c7da1281efdc2f!2sHandico+Tower!5e0!3m2!1svi!2s!4v1546491669632" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="widget social-widget">
    <div class="widget-title">
      <h2 class="title"><%= t ".contact_us" %></h2>
    </div>
    <ul>
      <li><a href="#" class="facebook"><i class="fa fa-facebook"></i><br><span><%= t ".facebook" %></span></a></li>
      <li><a href="#" class="twitter"><i class="fa fa-twitter"></i><br><span><%= t ".twitter" %></span></a></li>
      <li><a href="#" class="google"><i class="fa fa-google"></i><br><span><%= t ".google" %></span></a></li>
      <li><a href="#" class="instagram"><i class="fa fa-instagram"></i><br><span><%= t ".instagram" %></span></a></li>
      <li><a href="#" class="youtube"><i class="fa fa-youtube"></i><br><span><%= t ".youtube" %></span></a></li>
      <li><a href="#" class="rss"><i class="fa fa-rss"></i><br><span><%= t ".rrs" %></span></a></li>
    </ul>
  </div>

  <div class="widget subscribe-widget">
    <div class="widget-title">
      <h2 class="title"><%= t ".signin_notice" %></h2>
    </div>
    <form>
      <input class="input" type="email" placeholder="Email">
      <button class="input-btn"><%= t ".signin" %></button>
    </form>
  </div>

  <div class="widget">
    <div class="widget-title">
      <h2 class="title"><%= t ".read" %></h2>
    </div>
  </div>
</div>
